apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{`{{ .resource }}`}}-{{`{{ .apiGroup }}`}}-{{`{{ .apiVersion }}`}}
  namespace: {{`{{ .namespace }}`}}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{`{{ .resource }}`}}-{{`{{ .apiGroup }}`}}-{{`{{ .apiVersion }}`}}
subjects:
- kind: ServiceAccount
  name: {{`{{ .serviceAccount }}`}}
  namespace: {{`{{ .saNamespace }}`}}